* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightcyan;
}



.header {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header h1 {
    color: black;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-bottom: 30px;

}

.container {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.calculator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;


}


.calculator form input {
    outline: 0;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    box-shadow: -8px -8px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.2);
    background: transparent;
    font-size: 16px;
    color: aliceblue;
    cursor: pointer;
    margin: 6px;
}

.display {
    display: flex;
}


.display input {
    flex: 1;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}


.last-row {
    display: flex;
}

.last-row .zero {
    flex: 1;
}

.last-row .equal {
    flex: 2;
    color: rgb(182, 95, 95);
}

.footer {
    position: fixed;
    bottom: 5%;
    left: 8%;
}

.footer h5 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    opacity: 0.8;
}

form input.operator {
    color: rgb(92, 158, 92);
}